name: Traceability Gate / rtm

defaults:
  run:
    working-directory: './'

on:
  pull_request:
    branches: [ main, develop, release/*, feature/*, hotfix/* ]
  workflow_dispatch: {}
permissions:
  contents: read
jobs:
  rtm-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          set-safe-directory: true
      - name: Validate RTM
        run: python3 .github/scripts/validate_rtm.py
